NEXT_PUBLIC_API_URL=http://localhost:81/api
NEXT_PUBLIC_REVERB_APP_KEY=my-app-key
NEXT_PUBLIC_REVERB_HOST="localhost"
NEXT_PUBLIC_REVERB_PORT=81
NEXT_PUBLIC_REVERB_SCHEME=http
NEXT_PUBLIC_REVERB_PATH=/app
